.container {
  border: 1px solid black;
  text-align: center;
}

.productsList {
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  display: grid;
  grid-gap: 5px;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}
