.productBought {
  background-color: black;
  width: 50%;
  height: 20px;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  padding: 10px 0;
}

.productBought__active {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation: pulse 2s infinite, fadeIn 1s ease-in;;
}

.productBought:hover {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
      box-shadow: 0 0 0 10px rgba(0,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}

@keyframes fadeIn {
  0% {
    color: transparent;
  }
  100% {
      color: white;
  }
}