.productsContainer {
  height: 360px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 20px;
  background-image: 
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    linear-gradient(180deg, hsl(0,0%,78%)  0%,  hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);
}

.productsContainer__productsList {
  background-color: darkorchid;
  margin: 13px;
  display: grid;
  grid-gap: 2px;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px;
}

@media (max-height: 400px) {
  .productsContainer {
    height: 100%;
  }

  .productsContainer__productsList {
    margin-top: 3px;
  }
}