.addMoney {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
}

.addMoney__coin {
  width: 35px;
  height: 35px;
  /* mouse double-click 'select all' removal */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  transition: all 0.2s;
  border-radius: 50%;
  cursor: pointer;
}

.addMoney__coin:hover {
  box-shadow: 0 0 3px 3px greenyellow;
}

.addMoney__coin:active {
  box-shadow: 0 0 3px 1px greenyellow;
}