.display {
  background-color: #87cefa;
  padding: 15px 0;
  border-radius: 5px;
  text-align: center;
  margin: 15px auto;
  height: 70px;
  box-sizing: border-box;
}

.display__text,
.display__money {
  margin: 0;
  font-family: monospace;
}

.display__text {
  font-weight: bold;
}